# exclude data from source control by default

# Byte-compiled / optimized / DLL files
__pycache__/

src/obflowsim.egg-info/

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

*.bak
tests/input/*.bak
tests/output/
notebooks/output/
notebooks/input/
tests/input/.virtual_documents/
docs/devnotes/*.pdf
docs/devnotes/images/

.virtual_documents
refs/
